.modern_card{
    margin-top: 5rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (max-width : 700px){
    .small_paragraph{
        font-size: 0.8rem;
    }
    .learn_more_button{
        font-size: 0.7rem;
    }
}