.navbar_links{
    display: flex;
    justify-content: space-around;
}
.Navbar_container{
    display: flex;
    justify-content: space-around;

}
.highlighted{
    color: black;
}
@media all and (max-width : 700px){
    .img_logo{
        width: 10rem;
        height: 10rem;
    }
}
